global
    maxconn 4096

defaults
    mode tcp
    no log
    option dontlognull
    retries 0
    timeout connect 1s
    timeout client  5s
    timeout server  5s
    timeout queue   2s

frontend http
    bind *:9999
    default_backend api

backend api
    balance roundrobin
    default-server maxconn 2048
    server api1 unix@/sockets/api1.sock
    server api2 unix@/sockets/api2.sock
